[Unit]
Description=Payment Service

[Service]
User=root
WorkingDirectory=/home/roboshop/payment

Environment=CART_HOST=cart-{{ENV}}.roboshop.ppk
Environment=USER_HOST=user-{{ENV}}-roboshop.ppk
Environment=AMQP_HOST=rabbitmq-{{ENV}}-roboshop.ppk
Environment=AMQP_USER=roboshop
Environment=AMQP_PASS={{RABBITMQ_PASSWORD}}

ExecStart=/usr/local/bin/uwsgi --ini payment.ini
ExecStop=/bin/kill -9 $MAINPID
SyslogIdentifier=payment

[Install]
WantedBy=multi-user.target